@import '../../../../node_modules/@bmw-ds/components/density-styles/styles/scss/density-styles-ng.scss';

.ng-submitted .ng-invalid {
    border-color: red
}

.login-card {
    @include media-breakpoint-up(sm) {
        width: 60%;
    }
    @include media-breakpoint-up(lg) {
        width: 50%;
    }
    @include media-breakpoint-up(xl) {
        width: 30%;
    }
}