<h2 class="p-4 w-100 justify-content-center d-flex">Login</h2>
<form class="d-flex justify-content-center" [formGroup]="loginGroup" (ngSubmit)="login()">
    <div class="card login-card p-6 d-flex flex-column">
        <input class="p-2 m-3" type="text" id="userName" placeholder="User Name" formControlName="userName">
        <input class="p-2 m-3" type="password" id="password" placeholder="Password" formControlName="password">
        <button class="p-2 m-3" id="btn-submit" type="submit">Login</button>
    </div>
</form>
